<h4 class="mb-2">{{ user.first_name }} {{ user.last_name }}</h4>
<p class="mb-3">на Sauto с {{ user.date_joined|date:"d b Y" }}</p>
<div class="ratio mb-4">
    <div class="ratio-inner ratio-1-1">
        <div class="ratio-content">
            <img src="{{ user.profile_image.url }}" alt="..." class="rounded-3 img-100">
        </div>
    </div>
</div>
<ul class="list-unstyled mb-0">
    <li><a class="dropdown-item d-flex align-items-center gap-2 py-2 {% if active == 'announcements' %}link-primary{% else %}dark-link{% endif %}"
            href="{% url 'user-announcements' user.id %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-card-heading me-1" viewBox="0 0 16 16">
                <path
                    d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                <path
                    d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z" />
            </svg>
            Все объявления
        </a></li>
</ul>