{% extends 'announcement/base.html' %}
{% load static %}
{% load humanize %}
{% load userprofile %}
{% load announcement %}

{% block title %}{{ user.first_name }} {{ user.last_name }} - настройки{% endblock %}
{% block active-settings %}link-primary{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row gx-5">
        <div class="col-12 col-xl-4 col-xxl-3 mb-4">
            {% include 'userprofile/this-user-sidebar.html' with active='settings' %}
        </div>
        <div class="col-12 col-xl-8 col-xxl-9">
            <h4 class="mb-4">Личные данные</h4>
            <div class="row mb-2">
                <div class="col-8 col-md-3 col-lg-3 mb-2 order-0">
                    <span class="text-secondary">Имя</span>
                </div>
                <div class="col-12 col-md-7 col-lg-7 mb-3 order-2 order-md-1">
                    {{ user.first_name }}
                </div>
                <div class="col-4 col-md-2 col-lg-2 order-1 order-md-2 mb-2 text-end">

                    <a class="text-decoration-none pointer change-btn" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" data-modal-title="Введите имя" data-modal-input-type="text"
                        data-modal-input-value="{{ user.first_name }}" data-modal-input-name="first_name">Изменить</a>

                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8 col-md-3 col-lg-3 mb-2 order-0">
                    <span class="text-secondary">Фамилия</span>
                </div>
                <div class="col-12 col-md-7 col-lg-7 mb-3 order-2 order-md-1">
                    {{ user.last_name }}
                </div>
                <div class="col-4 col-md-2 col-lg-2 order-1 order-md-2 mb-2 text-end">

                    <a class="text-decoration-none pointer change-btn" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" data-modal-title="Введите фамилию" data-modal-input-type="text"
                        data-modal-input-value="{{ user.last_name }}" data-modal-input-name="last_name">Изменить</a>

                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8 col-md-3 col-lg-3 mb-2 order-0">
                    <span class="text-secondary">E-mail</span>
                </div>
                <div class="col-12 col-md-7 col-lg-7 mb-3 order-2 order-md-1">
                    <span id="user-email">{{ user.email|idna_decode }}</span>
                </div>
                <div class="col-4 col-md-2 col-lg-2 order-1 order-md-2 mb-2 text-end">

                    <a class="text-decoration-none pointer change-btn" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" data-modal-title="Введите адрес электронной почты"
                        data-modal-input-type="email" data-modal-input-value="{{ user.email|idna_decode }}"
                        data-modal-input-name="email">Изменить</a>

                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8 col-md-3 col-lg-3 mb-2 order-0">
                    <span class="text-secondary">Телефон</span>
                </div>
                <div class="col-12 col-md-7 col-lg-7 mb-3 order-2 order-md-1">
                    {% if seller.phone_number %}
                    {{ seller.phone_number|phone_number_international }}
                    {% else %}
                    Не указано
                    {% endif %}
                </div>
                <div class="col-4 col-md-2 col-lg-2 order-1 order-md-2 mb-2 text-end">

                    {% if seller %}
                    <a class="text-decoration-none pointer change-btn" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" data-modal-title="Введите номер телефона"
                        data-modal-input-name="phone_number">Изменить</a>
                    {% else %}
                    <a class="text-decoration-none pointer change-btn" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" data-modal-title="Введите номер телефона"
                        data-modal-input-name="phone_number">Добавить</a>
                    {% endif %}

                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8 col-md-3 col-lg-3 mb-2 order-0">
                    <span class="text-secondary">Имя телеграм</span>
                </div>
                <div class="col-12 col-md-7 col-lg-7 mb-3 order-2 order-md-1">
                    {% if seller.telegram_username %}
                    @{{ seller.telegram_username }}
                    {% else %}
                    Не указано
                    {% endif %}
                </div>
                <div class="col-4 col-md-2 col-lg-2 order-1 order-md-2 mb-2 text-end">

                    {% if seller %}
                    <a class="text-decoration-none pointer change-btn" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" data-modal-title="Введите имя пользователя телеграм"
                        data-modal-input-value="{{ seller.telegram_username }}"
                        data-modal-input-name="telegram_username">Изменить</a>
                    {% else %}
                    <a class="text-decoration-none pointer change-btn" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" data-modal-title="Введите имя пользователя телеграм"
                        data-modal-input-value="" data-modal-input-name="telegram_username">Добавить</a>
                    {% endif %}

                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8 col-md-3 col-lg-3 mb-2 order-0">
                    <span class="text-secondary">Пароль</span>
                </div>
                <div class="col-12 col-md-7 col-lg-7 mb-3 order-2 order-md-1">
                    Обновлён {{ user.last_password_updated|naturalday }}
                </div>
                <div class="col-4 col-md-2 col-lg-2 order-1 order-md-2 mb-2 text-end">

                    <a class="text-decoration-none pointer change-btn" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" data-modal-title="Изменение пароля"
                        data-modal-input-type="password" data-modal-input-name="password">Изменить</a>

                </div>
            </div>

            <h4 class="mb-4 mt-4">Общие настройки</h4>
            <div class="row mb-2">
                <div class="col-8 col-md-3 col-lg-3 mb-2 order-0">
                    <span class="text-secondary">Телеграм рассылка</span>
                </div>
                <div class="col-12 col-md-7 col-lg-7 mb-3 order-2 order-md-1">
                    <div class="form-check form-switch">
                        {% if seller %}
                        <input class="form-check-input" type="checkbox" role="switch">
                        {% else %}
                        <input class="form-check-input" type="checkbox" role="switch" disabled>
                        {% endif %}
                    </div>
                </div>
                <div class="col-4 col-md-2 col-lg-2 order-1 order-md-2 mb-2 text-end">
                    <div class="text-primary text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-question" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-placement="left"
                            data-bs-html="true" data-bs-custom-class="custom-tooltip"
                            data-bs-title="По указанному имени пользователя телеграм буду приходить уведомления, если пользователь добавит ваше объявление в избранное. Для включения необходимо разместить хотя бы 1 объявление.">
                            <path
                                d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade change-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="{% url 'user-settings' %}">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body change-input-div">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Отменить</button>
                    <button type="submit" class="btn btn-primary" data-action="">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="display: none;">
    <div class="field-block change_input">
        <input class="form-control">
        <div class="invalid-feedback"></div>
    </div>
    
    <div class="row g-0 field-block phone_number">
        <div class="col-6">
            {{ seller_form.phone_number.subwidgets.0 }}
        </div>
        <div class="col-6">
            {{ seller_form.phone_number.subwidgets.1 }}
        </div>
        {% if seller.phone_number %}
        <input type="hidden" class="form-control is-invalid" value="hidden"
            data-phone-number-country-code="{{ seller.phone_number|phone_number_country_code }}"
            data-phone-number-without-countr-code="{{ seller.phone_number|phone_number_without_country_code }}">
        {% else %}
        <input type="hidden" class="form-control is-invalid" value="hidden" data-phone-number-country-code="RU"
            data-phone-number-without-countr-code="">
        {% endif %}
        <div class="invalid-feedback"></div>
    </div>

    <div class="input-group field-block telegram_username">
        <span class="input-group-text">@</span>
        {{ seller_form.telegram_username }}
        <div class="invalid-feedback"></div>
    </div>

    <div class="row gy-2 new_password">
        {% for field in password_change_form %}
        <div class="field-block">
            {{ field }}
            <div class="invalid-feedback"></div>
        </div>
        {% endfor %}
    </div>

    <div class="field-block new_image">
        <p class="mb-2 text-secondary">Перетащите изображения сюда или выберите их на своем компьютере.</p>
        <p class="mb-2 p-invalid-feedback"></p>
        <div id="upload-container">
            <div class="upload-container-content">
                <button type="button" style="display: none;" class="fw-bolder">Удалить</button>
                <input id="file-input{{ r }}" type="file" name="file{{ r }}" accept=".jpg, .png"
                    data-image-upload-input>
                <label for="file-input{{ r }}" class="visually-hidden=md">
                    <a class="fw-bolder pointer text-decoration-none text-center">Добавить</a>
                </label>
            </div>
        </div>
        <div class="invalid-feedback p-invalid-feedback"></div>
    </div>
</div>

<script>
    const changeModalJs = new bootstrap.Modal(document.getElementById('exampleModal'))
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

<script src="{% static 'js/userprofile/user-settings.js' %}"></script>
<script src="{% static 'js/get-cookie.js' %}"></script>
<script src="{% static 'js/send-json-form-data.js' %}"></script>
<script src="{% static 'js/announcement/change-announcement/image-upload.js' %}"></script>
{% endblock %}