{% extends 'announcement/base.html' %}
{% load static %}

{% block title %}Разместить объявление{% endblock %}

{% block content %}
<script src="https://api-maps.yandex.ru/2.1/?apikey={{ yandex_map_api_key }}&lang=ru_RU"
    type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'css/dnd-area.css' %}">
<link rel="stylesheet" href="{% static 'css/seller/seller.css' %}">

<div class="container col-9 my-5">
    <h4 class="mb-4">Создание объявления</h4>
    <form action="{% url 'add-announcement' %}" method="post" id="add_announcement_form">
        {% csrf_token %}
        <div class="announcementFields">
            {% for field in form %}
            {% if field.is_hidden %}
            {% if field.id_for_label != 'id_latitude' and field.id_for_label != 'id_longitude' %}
            <div class="field-block">
                {{ field }}
                <div class="invalid-feedback"></div>
            </div>
            {% endif %}
            {% else %}
            <div class="row mb-2">
                {% if field.id_for_label == 'id_description' %}
                <div class="col-12 col-md-3 col-lg-3 mb-2">{{ field.label }}</div>
                {% else %}
                <div class="col-12 col-md-3 col-lg-3 mb-2">
                    {{ field.label }}
                    <span class="not-selectable text-danger">*</span>
                </div>
                {% endif %}
                <div class="col-12 col-md-9 col-lg-9 mb-3 field-block">
                    {% if field.id_for_label == 'id_price' %}
                    <div class="input-group field-block">
                        {{ field }}
                        <span class="input-group-text">&#8381</span>
                        <div class="invalid-feedback"></div>
                    </div>
                    {% else %}
                    {{ field }}
                    <div class="invalid-feedback"></div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-2 imageFields">
            <div class="col-12 col-md-3 col-lg-3 mb-2">
                Изображения
                <span class="not-selectable text-danger">*</span>
                <p class="mb-2 p-invalid-feedback imagesInvalid"></p>
            </div>
            <div class="col-12 col-md-9 col-lg-9 row pe-0">
                <p class="mb-2 text-secondary">Перетащите изображения сюда или выберите их на своем компьютере.</p>
                {% for r in '01234567' %}
                <div class="col-12 col-sm-6 col-md-3 col-xxl-3 mb-3 pe-0 field-block">
                    <div id="upload-container">
                        <div class="upload-container-content">
                            <button type="button" style="display: none;" class="fw-bolder">Удалить</button>
                            <input id="file-input{{ r }}" type="file" name="file{{ r }}" accept=".jpg, .png"
                                data-image-upload-input>
                            <label for="file-input{{ r }}" class="visually-hidden=md">
                                <a class="fw-bolder pointer text-decoration-none text-center">Добавить</a>
                            </label>
                        </div>
                    </div>
                    <div class="p-invalid-feedback"></div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row mb-2 locationFields">
            <div class="col-12 col-md-3 col-lg-3 mb-2">
                Местоположение
                <span class="not-selectable text-danger">*</span>
                <p class="mb-2 p-invalid-feedback locationInvalid">Выберите местоположение.</p>
            </div>
            <div class="col-12 col-md-9 col-lg-9">
                {{ form.latitude }}
                {{ form.longitude }}
                <div id="map" action="{% url 'add-announcement' %}" class="mb-3" style="height: 440px;"></div>
            </div>
            <script src="{% static 'js/seller/announcement/map.js' %}"></script>
        </div>
        <div class="row mb-2 sellerFields">
            <div class="col-12 col-md-3 col-lg-3 mb-2">
                Способ связи
                <span class="not-selectable text-danger">*</span>
            </div>
            <div class="col-12 col-md-9 col-lg-9">
                <p class="mb-3 text-secondary">
                    {% if not seller_form %}
                    Эта информация будет видна всем пользователям в объявлении.<br>Её можно изменить в настройках.
                    {% else %}
                    Эта информация будет видна всем пользователям в объявлении.<br>Её можно будет изменить в настройках.
                    {% endif %}
                </p>
                <div class="row mb-2">
                    <div class="col-12 col-sm-6">
                        <div class="form-check">
                            <input class="form-check-input communicationMethodRadio" type="radio" value="0"
                                id="communicationMethodEmail" checked="true">
                            <label class="form-check-label" for="communicationMethodEmail">
                                Адрес электронной почты
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 field-block">
                        <input type="email" class="form-control" value="{{ request.user.email }}" disabled>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-sm-6">
                        <div class="form-check">
                            {% if not seller_form %}
                            {% if request.user.seller.telegram_username is None %}
                            <input class="form-check-input communicationMethodRadio" type="radio" value="1"
                                id="communicationMethodTelegramUsernameRadio" disabled>
                            {% else %}
                            <input class="form-check-input communicationMethodRadio" type="radio" value="1"
                                id="communicationMethodTelegramUsernameRadio">
                            {% endif %}
                            {% else %}
                            <input class="form-check-input communicationMethodRadio" type="radio" value="1"
                                id="communicationMethodTelegramUsernameRadio" disabled>
                            {% endif %}
                            <label class="form-check-label" for="communicationMethodTelegramUsernameRadio">
                                Имя пользователя телеграм
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 sellerFields">
                        <div class="input-group field-block"
                            data-communication-method-input-id="communicationMethodTelegramUsernameRadio">
                            <span class="input-group-text">@</span>
                            {% if not seller_form %}
                            {% if request.user.seller.telegram_username is None %}
                            <input type="text" name="telegram_username" class="form-control" value="Не установлено"
                                disabled>
                            {% else %}
                            <input type="text" name="telegram_username" class="form-control"
                                value="{{ request.user.seller.telegram_username }}" disabled>
                            {% endif %}
                            {% else %}
                            {{ seller_form.telegram_username }}
                            {% endif %}
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-sm-6">
                        <div class="form-check">
                            {% if not seller_form %}
                            {% if request.user.seller.phone_number is None %}
                            <input class="form-check-input communicationMethodRadio" type="radio" value="2"
                                id="communicationMethodPhoneNumberRadio" disabled>
                            {% else %}
                            <input class="form-check-input communicationMethodRadio" type="radio" value="2"
                                id="communicationMethodPhoneNumberRadio">
                            {% endif %}
                            {% else %}
                            <input class="form-check-input communicationMethodRadio" type="radio" value="2"
                                id="communicationMethodPhoneNumberRadio" disabled>
                            {% endif %}
                            <label class="form-check-label" for="communicationMethodPhoneNumberRadio">
                                Номер телефона
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="row g-0 sellerFields">
                            {% if not seller_form %}
                            <div class="field-block">
                                {% if request.user.seller.phone_number is None %}
                                <input type="text" name="phone_number_1" class="form-control" value="Не установлено"
                                    disabled>
                                {% else %}
                                <input type="text" name="phone_number_1" class="form-control"
                                    value="{{ request.user.seller.phone_number }}" disabled>
                                {% endif %}
                                <div class="invalid-feedback"></div>
                            </div>
                            {% else %}
                            <div class="col-12 col-lg-6 field-block mb-lg-0 mb-1">
                                {{ seller_form.phone_number.subwidgets.0 }}
                                <div class="invalid-feedback my-lg-2 my-0"></div>
                            </div>
                            <div class="col-12 col-lg-6 field-block"
                                data-communication-method-input-id="communicationMethodPhoneNumberRadio">
                                {{ seller_form.phone_number.subwidgets.1 }}
                                <div class="invalid-feedback my-lg-2 my-0"></div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary" type="submit">Разместить объявление</button>
        </div>
    </form>
</div>

<script src="{% static 'js/seller/announcement/add-announcement.js' %}"></script>
<script src="{% static 'js/send-json-form-data.js' %}"></script>
<script src="{% static 'js/change-validation-status-field.js' %}"></script>
<script src="{% static 'js/get-cookie.js' %}"></script>
<script src="{% static 'js/seller/announcement/image-upload.js' %}"></script>
<script src="{% static 'js/seller/announcement/communication-method.js' %}"></script>
<script src="{% static 'js/seller/announcement/listeners.js' %}"></script>
<script src="{% static 'js/show-toast.js' %}"></script>
{% endblock %}