{% extends 'announcement/base.html' %}
{% load static %}
{% load favorite %}

{% block title %}{{ announcement.name }}{% endblock %}

{% block content %}
<script src="https://api-maps.yandex.ru/2.1/?apikey={{ yandex_map_api_key }}&lang=ru_RU"
    type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'css/announcement/show-announcement.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">

<div class="container my-5">
    <div class="row gx-5">
        <div class="col-12 col-lg-8 order-1 order-lg-0">
            <h4 class="mb-4 hidden">{{ announcement.name }}</h4>
            <div class="mb-4 img-container">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {% for image in images %}
                        <div class="swiper-slide">
                            <img src="{{ image.image.url }}" alt="...">
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 col-md-3 col-lg-3 mb-2">
                    <span class="text-secondary">Описание</span>
                </div>
                <div class="col-12 col-md-9 col-lg-9 mb-3">
                    {{ announcement.description }}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 col-md-3 col-lg-3 mb-2">
                    <span class="text-secondary">Категория</span>
                </div>
                <div class="col-12 col-md-9 col-lg-9 mb-3">
                    {{ announcement.get_category_display }}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 col-md-3 col-lg-3 mb-2">
                    <span class="text-secondary">Состояние</span>
                </div>
                <div class="col-12 col-md-9 col-lg-9 mb-3">
                    {{ announcement.get_condition_display }}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 col-md-3 col-lg-3 mb-2">
                    <span class="text-secondary">Тип объявления</span>
                </div>
                <div class="col-12 col-md-9 col-lg-9 mb-3">
                    {{ announcement.get_type_announcement_display }}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 col-md-3 col-lg-3 mb-2">
                    <span class="text-secondary">Размещено</span>
                </div>
                <div class="col-12 col-md-9 col-lg-9 mb-3">
                    {{ announcement.date_created|date:"d b Y" }}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 col-md-3 col-lg-3 mb-2">
                    <span class="text-secondary">Местоположение</span>
                </div>
                <div class="col-12 col-md-9 col-lg-9">
                    <div id="map" class="show-map-container" data-latitude="{{ announcement.latitude }}"
                        data-longitude="{{ announcement.longitude }}"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 order-0 order-lg-1 mb-3 mb-lg-0">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h4 class="m-0">{{ announcement.price|floatformat:"-2g" }} ₽</h4>
                <div class="d-flex ms-2" style="white-space: nowrap">
                    {% if not announcement|is_favorite:request.user %}
                    <button data-action="{% url 'add-favorite' announcement.pk %}" data-favorite-btn="1"
                        data-favorite-btn-type="add" class="btn-as-text text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="bi bi-heart" viewBox="0 0 16 16">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg>
                        <span class="ms-2">В избранное</span>
                    </button>
                    <button data-action="{% url 'remove-favorite' announcement.pk %}"
                        data-favorite-btn="1" data-favorite-btn-type="remove" class="btn-as-text text-primary"
                        style="display: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                        </svg>
                        <span class="ms-2">В избранное</span>
                    </button>
                    {% else %}
                    <button data-action="{% url 'add-favorite' announcement.pk %}" data-favorite-btn="1"
                        data-favorite-btn-type="add" class="btn-as-text text-primary" style="display: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="bi bi-heart" viewBox="0 0 16 16">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                        </svg>
                        <span class="ms-2">В избранное</span>
                    </button>
                    <button data-action="{% url 'remove-favorite' announcement.pk %}"
                        data-favorite-btn="1" data-favorite-btn-type="remove" class="btn-as-text text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                            class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                        </svg>
                        <span class="ms-2">В избранное</span>
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="d-grid mb-4">
                <button class="btn btn-primary" id="show-contact-info"
                    data-action="{% url 'show-announcement' announcement.pk %}">Показать контакт</button>
            </div>
            <a href="{% url 'user-announcements' seller.user.id %}" class="text-decoration-none">
                <div class="d-flex align-items-center px-2">
                    <img src="{{ seller.user.profile_image.url }}" alt="..." width="44" height="44" class="rounded-circle">
                    <div class="flex-grow-1 ms-3">
                        <p class="m-0 mb-1 text-primary">{{ seller.user.first_name }} {{ seller.user.last_name }}</p>
                        <p class="m-0 text-dark">на Sauto с {{ seller.user.date_joined|date:"d b Y" }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="{% static 'js/announcement/show-announcement/image-slider.js' %}"></script>
<script src="{% static 'js/announcement/show-announcement/map.js' %}"></script>
<script src="{% static 'js/favorite/favorite.js' %}"></script>
<script src="{% static 'js/announcement/show-announcement/show-contact-info.js' %}"></script>
{% endblock %}