{% extends 'seller/announcement/base.html' %}
{% load static %}

{% block title %}Разместить объявление{% endblock %}

{% block content %}
<script src="https://api-maps.yandex.ru/2.1?apikey={{ yandex_map_api_key }}&lang=ru_RU"
    type="text/javascript"></script>

<link rel="stylesheet" href="{% static 'css/dnd-area.css' %}">
<div class="container col-9 my-5">
    <h4 class="mb-4">Создание объявления</h4>
    <form action="{% url 'add-announcement' %}" method="post" id="add_announcement_form">
        {% csrf_token %}
        {% for field in form %}
        {% if field.is_hidden %}
        {{ field }}
        {% else %}
        <div class="row mb-2">
            <div class="col-12 col-md-3 col-lg-3 mb-2">{{ field.label }}</div>
            <div class="col-12 col-md-9 col-lg-9 mb-3 field-block">
                {{ field }}
                <div class="invalid-feedback"></div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="row mb-2">
            <div class="col-12 col-md-3 col-lg-3 mb-2">Изображения</div>
            <div class="col-12 col-md-9 col-lg-9 row pe-0">
                <p class="mb-2 text-secondary">Перетащите изображения сюда или выберите их на своем компьютере.</p>
                {% for r in '01234567' %}
                <div class="col-12 col-sm-6 col-md-3 col-xxl-3 mb-3 pe-0">
                    <div id="upload-container">
                        <div class="upload-container-content">
                            <button type="button" style="display: none;" class="fw-bolder">Удалить</button>
                            <input id="file-input{{ r }}" type="file" name="file{{ r }}" accept=".jpg, .png"
                                data-image-upload-input data-exclude-getFormData>
                            <label for="file-input{{ r }}" class="visually-hidden=md">
                                <a class="fw-bolder pointer text-decoration-none text-center">Добавить</a>
                            </label>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-3 col-lg-3 mb-2">Местоположение</div>
            <div class="col-12 col-md-9 col-lg-9">
                <div id="map" action="{% url 'add-announcement' %}" class="mb-3" style="height: 440px"></div>
            </div>
        </div>
        <script src="{% static 'js/seller/announcement/map.js' %}"></script>
        <div class="d-grid">
            <button class="btn btn-primary" type="submit">Разместить объявление</button>
        </div>
    </form>
</div>

<script src="{% static 'js/seller/announcement/add-announcement.js' %}"></script>
<script src="{% static 'js/send-form-data.js' %}"></script>
<script src="{% static 'js/get-cookie.js' %}"></script>
<script src="{% static 'js/seller/announcement/image-upload.js' %}"></script>
{% endblock %}