{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<h4 class="mb-4">Восстановление пароля</h4>
<form action="{% url 'reset-password' %}" method="post" id="reset_password_form">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3 field-block">
        {{ field }}
        <div class="invalid-feedback"></div>
    </div>
    {% endfor %}
    <div class="d-grid">
        <button class="btn btn-primary" type="submit">Продолжить</button>
    </div>
</form>

<script src="{% static 'js/accounts/reset-password.js' %}"></script>
<script src="{% static 'js/accounts/base.js' %}"></script>
<script src="{% static 'js/accounts/resend-activation-email.js' %}"></script>
{% endblock %}