.accordion-item {
    border: none;
}

.accordion-body {
    padding: 0.5rem 0.25rem 1.6rem 0.25rem;
}

.accordion-button {
    padding: 1rem 0rem 1rem 0rem;
}

.accordion-button:not(.collapsed) {
    color: #212529;
    background-color: #fff;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.accordion-button:focus {
    z-index: 3;
    border: none;
    outline: 0;
    box-shadow: none;
}

.card-truncate-text-container {
    width: 100%;
    height: 21px;
}

.card-truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.announcement-edit-btn-container {
    position: relative;
}

.announcement-edit-btn {
    position: absolute;
    right: 0;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    z-index: 2;
}

.sold-status {
    position: absolute;
    top: 6.5px;
    left: 1px;
    z-index: 2;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    color: #fff;
}

.sold-status-true {
    background: #dc3545;
}

.sold-status-false {
    background: #198754;
}