.img-container {
    width: 100%;
    height: 400px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    max-height: 100%;
    max-width: 100%;
}

.swiper .swiper-pagination-bullet {
    background: rgba(0, 0, 0, 0.3);
    opacity: 100%;
}

.swiper .swiper-pagination-bullet-active {
    background: #fff;
    border: 1px solid #ced4da;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #fff;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next::after {
    -webkit-text-stroke: 1px #ced4da;
}

.show-map-container {
    width: 100%;
    height: 300px;
    position: relative;
}

.show-map-container-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.add-map-container {
    width: 100%;
    height: 440px;
}

.fullscreen-map {
    width: calc(100% - 5rem);
    height: calc(100% - 5rem);
}

.fullscreen-map-btn-close {
    top: 3rem;
    right: 3rem;
    position: absolute;
}