{% extends 'accounts/base.html' %}
{% load static %}

{% block title %} Registration {% endblock %}

{% block content %}
<div class="toast-container position-fixed top-0 p-3">
    <div id="errorToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>

<h4 class="mb-4">Регистрация</h4>
<form action="{% url 'registration' %}" method="post" id="registration_form">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3 field-block">
        {{ field }}
        <div class="invalid-feedback"></div>
    </div>
    {% endfor %}
    <div class="d-grid">
        <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
        <div class="py-2 text-center">или</div>
        <a href="#" class="btn btn-outline-primary">Войти</a>
    </div>
</form>

<script src="{% static 'js/accounts/registration.js' %}"></script>
{% endblock %}